.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 32px);
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid var(--line-colour);
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 80px);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 96px;
  }
}

@media screen and (max-height: 768px) {
  .header {
    height: 80px;
  }
}

.header .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-colour);
}

.header .logo:hover .logo-txt {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.header .logo svg {
  height: 11px;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header .logo svg {
    margin-right: 8px;
  }
}

.header .logo svg g path {
  fill: var(--font-colour);
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.header .logo .logo-txt {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 162.5px;
  height: 10px;
  line-height: 10px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .header .logo .logo-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .logo .logo-txt span {
  position: absolute;
  white-space: nowrap;
}

.header .logo .logo-txt span:nth-child(1) {
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 12px);
          transform: rotateX(0deg) translate3d(0px, 0px, 12px);
}

.header .logo .logo-txt span:nth-child(2) {
  -webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 12px);
          transform: rotateX(-90deg) translate3d(0px, 0px, 12px);
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .header .header-content {
    width: unset;
    margin-left: auto;
  }
}

.header .header-content .time span {
  margin-right: 4px;
  opacity: 0.5;
}

.header .header-content .contact-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
}

.header .header-content .contact-btn::before {
  content: "";
  position: absolute;
  bottom: calc(50% - 16px);
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
  -webkit-transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.header .header-content .contact-btn:hover::before {
  right: unset;
  left: 0;
  width: 0;
}

@media screen and (min-width: 480px) {
  .header .header-content .contact-btn {
    margin-left: 40px;
  }
}

.header .header-content .banner {
  position: relative;
  display: none;
  width: 104px;
  height: 100%;
  margin-left: 40px;
  color: var(--font-colour);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header .header-content .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header-content .banner .banner-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: banner-anim 6s linear infinite;
          animation: banner-anim 6s linear infinite;
}

.header .header-content .banner .banner-inner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes banner-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes banner-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header .header-content .banner .banner-inner span {
  padding: 0 2px;
  white-space: nowrap;
  pointer-events: none;
}

.theme-switch {
  position: absolute;
  top: 112px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .theme-switch {
    left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .theme-switch {
    top: 136px;
  }
}

@media screen and (max-height: 768px) {
  .theme-switch {
    top: 112px;
  }
}

.theme-switch .switch-item {
  margin-right: 20px;
  opacity: 0.5;
}

@media screen and (min-width: 480px) {
  .theme-switch .switch-item {
    margin-right: 24px;
  }
}

.theme-switch .switch-item:hover {
  opacity: 1;
}

.theme-switch .switch-item.active {
  opacity: 1;
  pointer-events: none;
}

.nav-arrows {
  position: absolute;
  display: none;
  top: 112px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .nav-arrows {
    top: 126px;
  }
}

@media screen and (max-height: 768px) {
  .nav-arrows {
    top: 102px;
  }
}

.nav-arrows .nav-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-arrows .nav-arrow svg g path {
  stroke: var(--font-colour);
}

.nav-arrows .nav-arrow:nth-child(1) {
  margin-right: 20px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav-arrows .nav-arrow.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.info-contain {
  position: fixed;
  width: 100%;
  top: calc(100% - 80px);
  height: calc(100% - 79px);
  padding: 0 16px 40px 16px;
  background-color: var(--primary-colour);
  -webkit-transition: top 0.5s cubic-bezier(0.51, 0.92, 0.24, 1), background 0.2s ease-in-out;
  transition: top 0.5s cubic-bezier(0.51, 0.92, 0.24, 1), background 0.2s ease-in-out;
  z-index: 1000;
}

@media screen and (min-width: 1024px) {
  .info-contain {
    top: calc(100% - 96px);
  }
}

@media screen and (max-height: 768px) {
  .info-contain {
    top: calc(100% - 80px);
  }
}

.info-contain.active {
  overflow: auto;
  top: 79px;
}

@media screen and (min-width: 1024px) {
  .info-contain.active {
    top: 95px;
  }
}

@media screen and (max-height: 768px) {
  .info-contain.active {
    top: 79px;
  }
}

@media screen and (min-width: 768px) {
  .info-contain {
    padding: 0 40px 40px 40px;
  }
}

.info-contain .info-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  border-top: 1px solid var(--line-colour);
}

@media screen and (min-width: 1024px) {
  .info-contain .info-header {
    height: 96px;
  }
}

@media screen and (max-height: 768px) {
  .info-contain .info-header {
    height: 80px;
  }
}

.info-contain .info-header .scrollbar {
  position: fixed;
  top: 95px;
  width: calc(100% - 80px);
  height: 1px;
}

.info-contain .info-header .scrollbar .scrollbar-inner {
  height: 1px;
  width: 50px;
}

.info-contain .info-header .marker {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 18px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .info-contain .info-header .marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.info-contain .info-header .marker .marker-item {
  width: 1px;
  height: 12px;
  margin-right: 6px;
  background-color: var(--font-colour);
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.info-contain .info-header .marker .marker-item:nth-last-child(1) {
  margin-right: 0;
}

.info-contain .info-header .marker .marker-item.active {
  height: 18px;
  opacity: 1;
}

.info-contain .info-header .open-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.info-contain .info-header .open-site .site-name {
  display: none;
  margin: 0 40px;
  pointer-events: none;
  -webkit-animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

@media screen and (min-width: 768px) {
  .info-contain .info-header .open-site .site-name {
    display: block;
  }
}

.info-contain .info-header .open-site .open-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.info-contain .info-header .open-site .open-btn:hover svg path {
  stroke-opacity: 1;
}

.info-contain .info-header .open-site .open-btn svg {
  opacity: .5;
  margin-left: 8px;
}

.info-contain .info-header .open-site .open-btn svg path {
  stroke: var(--font-colour);
}

.info-contain .info-header .open-site .open-btn .open-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.info-contain .info-header .open-site .open-btn .open-contain .open-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

.info-contain .info-header .open-site .dev-btn {
  position: relative;
  overflow: hidden;
}

.info-contain .info-header .open-site .dev-btn::after {
  content: "in development";
  position: relative;
  display: block;
  -webkit-animation: project-switch-anim-1 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim-1 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

@-webkit-keyframes project-switch-anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes project-switch-anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes project-switch-anim-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes project-switch-anim-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.info-contain .info-header .toggle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
  padding-left: 1rem;
}

.info-contain .info-header .toggle-info::before {
  content: "more info";
}

.info-contain .info-header .toggle-info svg g path {
  stroke: var(--font-colour);
}

.info-contain .info-header .toggle-info:hover svg path {
  stroke-opacity: 1;
}

.info-contain .info-header .toggle-info.active::before {
  content: "less info";
}

.info-contain .info-header .toggle-info.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.info-contain .info-header .toggle-info svg {
  margin-left: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.info-contain .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info-contain .info-content .info-img-contain {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-img-contain {
    width: 50%;
  }
}

.info-contain .info-content .info-img-contain img {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-img-contain img {
    margin-bottom: 60px;
  }
}

.info-contain .info-content .info-description-contain {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-description-contain {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 50%;
    margin-bottom: unset;
    padding-left: 80px;
  }
}

.info-contain .info-content .info-description-contain.active {
  opacity: 1;
}

.info-contain .info-content .info-description-contain .tag-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-contain .info-content .info-description-contain .tag-contain .info-tag {
  margin-bottom: 12px;
  margin-right: 16px;
  padding: 8px;
  font-size: 10px;
  line-height: 8px;
  border: 1px solid var(--line-colour);
  border-radius: 4px;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-description-contain .tag-contain .info-tag {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=Layout.css.map */