$smaller: 480px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1600px;

.header {
  position: relative;
  display: flex;
  width: calc(100% - 32px);
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid var(--line-colour);

  @media screen and (min-width: $small) {
    width: calc(100% - 80px);
  }

  @media screen and (min-width: $medium) {
    height: 96px;
  }

  .logo {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--font-colour);

    &:hover {
      .logo-txt {
        transform: rotateX(90deg);
      }
    }

    svg {
      height: 11px;
      margin-right: 10px;
      transition: 0.2s ease-in-out;

      @media screen and (min-width: $small) {
        margin-right: 8px;
      }

      g {
        path {
          fill: var(--font-colour);
          transition: fill 0.2s ease-in-out;
        }
      }
    }

    .logo-txt {
      position: relative;
      display: none;
      flex-direction: column;
      width: 162.5px;
      height: 10px;
      line-height: 10px;
      transform-origin: 50% 50%;
      transform-style: preserve-3d;
      transition: 0.2s ease-in-out;
      pointer-events: none;

      @media screen and (min-width: $smaller) {
        display: flex;
      }

      span {
        position: absolute;
        white-space: nowrap;
        &:nth-child(1) {
          transform: rotateX(0deg) translate3d(0px, 0px, 12px);
        }
        &:nth-child(2) {
          transform: rotateX(-90deg) translate3d(0px, 0px, 12px);
        }
      }
    }
  }

  .header-content {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $smaller) {
      width: unset;
      margin-left: auto;
    }

    .time {
      span {
        margin-right: 4px;
        opacity: 0.5;
      }
    }

    .contact-btn {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;

      &::before {
        content: "";
        position: absolute;
        bottom: calc(50% - 16px);
        right: 0;
        width: 100%;
        height: 1px;
        background-color: var(--font-colour);
        transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
      }

      &:hover {
        &::before {
          right: unset;
          left: 0;
          width: 0;
        }
      }

      @media screen and (min-width: $smaller) {
        margin-left: 40px;
      }
    }

    .banner {
      position: relative;
      display: none;
      width: 104px;
      height: 100%;
      margin-left: 40px;
      color: var(--font-colour);
      overflow: hidden;

      @media screen and (min-width: $small) {
        display: flex;
      }

      .banner-inner {
        display: flex;
        align-items: center;
        animation: banner-anim 6s linear infinite;

        &:hover {
          animation-play-state: paused;
        }

        @keyframes banner-anim {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }

        span {
          padding: 0 2px;
          white-space: nowrap;
          pointer-events: none;
        }
      }
    }
  }
}

.theme-switch {
  position: absolute;
  top: 112px;
  left: 16px;
  display: flex;

  @media screen and (min-width: $small) {
    left: 40px;
  }

  @media screen and (min-width: $medium) {
    top: 136px;
  }

  .switch-item {
    margin-right: 20px;

    @media screen and (min-width: $smaller) {
      margin-right: 24px;
    }

    &:nth-last-child(1) {
      opacity: 0.5;
    }
  }
}

.nav-arrows {
  position: absolute;
  display: none;
  top: 112px;
  right: 40px;

  @media screen and (min-width: $small) {
    display: flex;
  }

  @media screen and (min-width: $medium) {
    top: 136px;
  }

  .nav-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;

    svg {
      g {
        path {
          stroke: var(--font-colour);
        }
      }
    }
  }

  .back {
    margin-right: 48px;
    transform: rotate(-180deg);
    opacity: 0.5;
  }
}

.info-contain {
  position: fixed;
  width: calc(100% - 32px);
  top: calc(100% - 80px);
  height: calc(100% - 79px);
  margin: 0 16px;
  padding-bottom: 40px;
  background-color: var(--primary-colour);
  border-top: 1px solid var(--line-colour);
  transition: top 0.5s cubic-bezier(0.51, 0.92, 0.24, 1), background .2s ease-in-out;
  z-index: 1000;

  @media screen and (min-width: $medium) {
    top: calc(100% - 96px);
  }

  &.active {
    overflow: auto;
    top: 79px;

    @media screen and (min-width: $medium) {
      top: 95px;
    }
  }

  @media screen and (min-width: $small) {
    width: calc(100% - 80px);
    margin: 0 40px;
  }

  .info-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 40px;

    @media screen and (min-width: $medium) {
      height: 96px;
    }

    .scrollbar {
      position: fixed;
      top: 95px;
      width: calc(100% - 80px);
      height: 1px;

      .scrollbar-inner {
        height: 1px;
        width: 50px;
      }
    }

    .marker {
      display: none;
      justify-content: space-between;
      align-items: flex-end;
      width: 31px;
      margin-bottom: 5px;

      @media screen and (min-width: $small) {
        display: flex;
      }

      .marker-item {
        width: 1px;
        height: 12px;
        background-color: var(--font-colour);
        opacity: .5;

        &.active {
          height: 18px;
          opacity: 1;
        }
      }
    }

    .open-site {
      display: flex;
      align-items: center;
      height: 100%;

      .site-name {
        display: none;
        margin: 0 40px;
        pointer-events: none;

        @media screen and (min-width: $small) {
          display: block;
        }
      }

      .open-btn {
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
          svg {
            path {
              stroke-opacity: 1;
            }
          }
        }

        svg {
          margin-left: 8px;
          path {
            stroke: var(--font-colour);
          }
        }
      }
    }

    .toggle-info {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;
      padding-left: 1rem;

      &::before {
        content: "more info";
      }

      svg {
        g {
          path {
            stroke: var(--font-colour);
          }
        }
      }

      &:hover {
        svg {
          path {
            stroke-opacity: 1;
          }
        }
      }

      &.active {
        &::before {
          content: "less info";
        }

        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        margin-left: 8px;
        transition: 0.2s ease;
      }
    }
  }

  .info-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    @media screen and (min-width: $medium) {
      flex-direction: row;
    }

    .info-img-contain {
      width: 100%;

      @media screen and (min-width: $medium) {
        width: 50%;
      }

      img {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 4px;
        // box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: $medium) {
          margin-bottom: 60px;
        }
      }
    }

    .info-description-contain {
      position: relative;
      width: 100%;
      height: fit-content;
      margin-bottom: 40px;
      opacity: 0;
      transition: 0.8s ease;
      transition-delay: 0.125s;

      @media screen and (min-width: $medium) {
        position: sticky;
        top: 80px;
        width: 50%;
        margin-bottom: unset;
        padding-left: 80px;
      }

      &.active {
        opacity: 1;
      }

      .tag-contain {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .info-tag {
          margin-bottom: 12px;
          margin-right: 16px;
          padding: 8px;
          font-size: 10px;
          line-height: 8px;
          border: 1px solid #242424;
          border-radius: 4px;
          white-space: nowrap;

          @media screen and (min-width: $medium) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
