@import "./Layout/Layout.css";
@import url("https://use.typekit.net/rrc7gjs.css");

$smaller: 480px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1600px;

$black: #131313;
$charcoal: #242424;
$darkgrey: #333333;
$grey: #707070;
$white: #fff;
$offwhite: #d4d4d4;

.DarkTheme {
  --primary-colour: #{$black};
  --font-colour: #{$white};
  --accent-colour: #{$grey};
  --line-colour: #{$darkgrey};
}

.LightTheme {
  --primary-colour: #{$offwhite};
  --font-colour: #{$charcoal};
  --accent-colour: #{$grey};
  --line-colour: #{$darkgrey};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

body {
  overflow: hidden;
  background-color: #141414;
  color: #fff;
}

a {
  color: unset;
  text-decoration: unset;
}

.cursor {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  z-index: 10000;

  @media (pointer: coarse) {
    display: none;
  }

  .cursor-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 50%;
    transition: border 0.2s ease-in-out;
  }
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;

  @media (pointer: coarse) {
    display: none;
  }
}
