@import url("https://use.typekit.net/rrc7gjs.css");
@import "./Layout/Layout.scss";
@import "./Projects/Projects.scss";

$smaller: 480px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1600px;

$black: #131313;
$charcoal: #242424;
$darkgrey: #333333;
$grey: #646464;
$white: #fff;
$offwhite: #ccc;

.dark-theme {
  --primary-colour: #{$black};
  --font-colour: #{$white};
  --accent-colour: #{$grey};
  --line-colour: #{$charcoal};
}

.light-theme {
  --primary-colour: #{$offwhite};
  --font-colour: #{$black};
  --accent-colour: #{$grey};
  --line-colour: #{$grey};
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  outline: none;
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

body {
  overflow: hidden;
  background-color: var(--primary-colour);
  color: var(--font-colour);
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

main {
  width: 100%;
  height: calc(100vh - 160px);

  @media screen and (min-width: $medium) {
    height: calc(100vh - 192px);
  }
}

a {
  color: unset;
  text-decoration: unset;
}

h2 {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;

  @media screen and (min-width: $medium) {
    font-size: 24px;
  }
}

p {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: none;

  @media screen and (min-width: $medium) {
    margin-bottom: 40px;
    line-height: 32px;
  }
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: stretch;
  background-color: #131313;
  animation: loader-anim .4s ease 1.5s forwards;
  z-index: 1000000;

  .loader-logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #fff !important;

    svg {
      height: 11px;
      margin-right: 8px;

      g {
        path {
          fill: #fff;
        }
      }
    }

    .loader-line {
      width: 1px;
      height: 20px;
      margin: 0 12px;
      background-color: #fff;
      opacity: 0.5;
    }

    span {
      opacity: 0;
      transform: translateX(-8px);
      animation: loader-logo-anim .4s ease-out .5s forwards;
      z-index: -1;
    }
  }

  @keyframes loader-anim {
    from {
      opacity: 1;
      visibility: visible;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes loader-logo-anim {
    from {
      opacity: 0;
      transform: translateX(-8px);
    }

    to {
      opacity: 0.5;
      transform: translateX(0);

    }
  }
}

.cursor {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  z-index: 10000;

  @media (pointer: coarse) {
    display: none;
  }

  .cursor-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &.expand {
      transform: scale(1.4);
      border-color: #fff;
    }
  }
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;

  @media (pointer: coarse) {
    display: none;
  }
}
