@import url("https://use.typekit.net/rrc7gjs.css");
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 32px);
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid var(--line-colour);
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 80px);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 96px;
  }
}

@media screen and (max-height: 768px) {
  .header {
    height: 80px;
  }
}

.header .logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--font-colour);
}

.header .logo:hover .logo-txt {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.header .logo svg {
  height: 11px;
  margin-right: 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header .logo svg {
    margin-right: 8px;
  }
}

.header .logo svg g path {
  fill: var(--font-colour);
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.header .logo .logo-txt {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 162.5px;
  height: 10px;
  line-height: 10px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .header .logo .logo-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .logo .logo-txt span {
  position: absolute;
  white-space: nowrap;
}

.header .logo .logo-txt span:nth-child(1) {
  -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 12px);
          transform: rotateX(0deg) translate3d(0px, 0px, 12px);
}

.header .logo .logo-txt span:nth-child(2) {
  -webkit-transform: rotateX(-90deg) translate3d(0px, 0px, 12px);
          transform: rotateX(-90deg) translate3d(0px, 0px, 12px);
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .header .header-content {
    width: unset;
    margin-left: auto;
  }
}

.header .header-content .time span {
  margin-right: 4px;
  opacity: 0.5;
}

.header .header-content .contact-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
}

.header .header-content .contact-btn::before {
  content: "";
  position: absolute;
  bottom: calc(50% - 16px);
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
  -webkit-transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.4s cubic-bezier(0.51, 0.92, 0.24, 1);
}

@media (pointer: coarse) {
  .header .header-content .contact-btn::before {
    display: none;
  }
}

.header .header-content .contact-btn:hover::before {
  right: unset;
  left: 0;
  width: 0;
}

@media screen and (min-width: 480px) {
  .header .header-content .contact-btn {
    margin-left: 40px;
  }
}

.header .header-content .banner {
  position: relative;
  display: none;
  width: 104px;
  height: 100%;
  margin-left: 40px;
  color: var(--font-colour);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header .header-content .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .header-content .banner .banner-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: banner-anim 6s linear infinite;
          animation: banner-anim 6s linear infinite;
}

.header .header-content .banner .banner-inner:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes banner-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes banner-anim {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header .header-content .banner .banner-inner span {
  padding: 0 2px;
  white-space: nowrap;
  pointer-events: none;
}

.theme-switch {
  position: absolute;
  top: 112px;
  left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .theme-switch {
    left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .theme-switch {
    top: 136px;
  }
}

@media screen and (max-height: 768px) {
  .theme-switch {
    top: 112px;
  }
}

.theme-switch .switch-item {
  margin-right: 20px;
  opacity: 0.5;
}

@media screen and (min-width: 480px) {
  .theme-switch .switch-item {
    margin-right: 24px;
  }
}

.theme-switch .switch-item:hover {
  opacity: 1;
}

.theme-switch .switch-item.active {
  opacity: 1;
  pointer-events: none;
}

.nav-arrows {
  position: absolute;
  display: none;
  top: 112px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .nav-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .nav-arrows {
    top: 126px;
  }
}

@media screen and (max-height: 768px) {
  .nav-arrows {
    top: 102px;
  }
}

.nav-arrows .nav-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-arrows .nav-arrow svg g path {
  stroke: var(--font-colour);
}

.nav-arrows .nav-arrow:nth-child(1) {
  margin-right: 20px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav-arrows .nav-arrow.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.info-contain {
  position: fixed;
  width: 100%;
  top: calc(100% - 80px);
  height: calc(100% - 79px);
  padding: 0 16px 20px 16px;
  background-color: var(--primary-colour);
  -webkit-transition: top 0.5s cubic-bezier(0.51, 0.92, 0.24, 1), background 0.2s ease-in-out;
  transition: top 0.5s cubic-bezier(0.51, 0.92, 0.24, 1), background 0.2s ease-in-out;
  z-index: 1000;
}

@media screen and (min-width: 1024px) {
  .info-contain {
    top: calc(100% - 96px);
    padding: 0 16px 40px 16px;
  }
}

@media screen and (max-height: 768px) {
  .info-contain {
    top: calc(100% - 80px);
  }
}

.info-contain.active {
  overflow: auto;
  top: 79px;
}

@media screen and (min-width: 1024px) {
  .info-contain.active {
    top: 95px;
  }
}

@media screen and (max-height: 768px) {
  .info-contain.active {
    top: 79px;
  }
}

@media screen and (min-width: 768px) {
  .info-contain {
    padding: 0 40px 40px 40px;
  }
}

.info-contain .info-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  border-top: 1px solid var(--line-colour);
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-header {
    height: 96px;
  }
}

@media screen and (max-height: 768px) {
  .info-contain .info-header {
    height: 80px;
  }
}

.info-contain .info-header .scrollbar {
  position: fixed;
  top: 95px;
  width: calc(100% - 80px);
  height: 1px;
}

.info-contain .info-header .scrollbar .scrollbar-inner {
  height: 1px;
  width: 50px;
}

.info-contain .info-header .marker {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 18px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .info-contain .info-header .marker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.info-contain .info-header .marker .marker-item {
  width: 1px;
  height: 12px;
  margin-right: 6px;
  background-color: var(--font-colour);
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.info-contain .info-header .marker .marker-item:nth-last-child(1) {
  margin-right: 0;
}

.info-contain .info-header .marker .marker-item.active {
  height: 18px;
  opacity: 1;
}

.info-contain .info-header .open-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.info-contain .info-header .open-site .site-name {
  display: none;
  margin: 0 40px;
  pointer-events: none;
  -webkit-animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

@media screen and (min-width: 768px) {
  .info-contain .info-header .open-site .site-name {
    display: block;
  }
}

.info-contain .info-header .open-site .open-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.info-contain .info-header .open-site .open-btn:hover svg path {
  stroke-opacity: 1;
}

.info-contain .info-header .open-site .open-btn svg {
  opacity: 0.5;
  margin-left: 8px;
}

.info-contain .info-header .open-site .open-btn svg path {
  stroke: var(--font-colour);
  stroke-opacity: 0.5;
}

.info-contain .info-header .open-site .open-btn .open-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.info-contain .info-header .open-site .open-btn .open-contain .open-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

.info-contain .info-header .open-site .dev-btn {
  position: relative;
  overflow: hidden;
}

.info-contain .info-header .open-site .dev-btn::after {
  content: "in development";
  position: relative;
  display: block;
  -webkit-animation: project-switch-anim-1 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
          animation: project-switch-anim-1 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) forwards;
}

@-webkit-keyframes project-switch-anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes project-switch-anim {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes project-switch-anim-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes project-switch-anim-1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.info-contain .info-header .toggle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
  padding-left: 1rem;
}

.info-contain .info-header .toggle-info::before {
  content: "more info";
}

.info-contain .info-header .toggle-info svg g path {
  stroke: var(--font-colour);
}

@-webkit-keyframes arrow-anim {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@keyframes arrow-anim {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

.info-contain .info-header .toggle-info:hover svg path {
  stroke-opacity: 1;
}

.info-contain .info-header .toggle-info.active::before {
  content: "less info";
}

.info-contain .info-header .toggle-info.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: unset;
          animation: unset;
}

.info-contain .info-header .toggle-info svg {
  margin-left: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.info-contain .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.info-contain .info-content .info-img-contain {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-img-contain {
    width: 50%;
  }
}

.info-contain .info-content .info-img-contain img {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-img-contain img {
    margin-bottom: 60px;
  }
}

.info-contain .info-content .info-description-contain {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-description-contain {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 50%;
    margin-bottom: unset;
    padding-left: 80px;
  }
}

.info-contain .info-content .info-description-contain.active {
  opacity: 1;
}

.info-contain .info-content .info-description-contain .tag-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-contain .info-content .info-description-contain .tag-contain .info-tag {
  margin-bottom: 12px;
  margin-right: 16px;
  padding: 8px;
  font-size: 10px;
  line-height: 8px;
  border: 1px solid var(--line-colour);
  border-radius: 4px;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-description-contain .tag-contain .info-tag {
    margin-right: 20px;
  }
}

.info-contain .info-content .info-description-contain .out-link-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

@media screen and (min-width: 1024px) {
  .info-contain .info-content .info-description-contain .out-link-contain {
    margin-top: 40px;
  }
}

.info-contain .info-content .info-description-contain .out-link-contain .out-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.info-contain .info-content .info-description-contain .out-link-contain .out-link-icon:nth-child(1) {
  margin-right: 20px;
}

.info-contain .info-content .info-description-contain .out-link-contain .out-link-icon.inactive {
  opacity: .25;
  pointer-events: none;
}

.project-container {
  position: relative;
  display: none;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 32vh;
  margin-top: 24px;
  overflow: hidden;
}

@media screen and (min-width: 820px) {
  .project-container {
    display: block;
    top: 50%;
    height: 44vh;
  }
}

@media screen and (min-width: 768px) {
  .project-container {
    top: 50%;
    height: 44vh;
  }
}

@media screen and (min-height: 1024px) {
  .project-container {
    margin-top: 12px;
  }
}

@media screen and (max-height: 768px) {
  .project-container {
    margin-top: 32px;
  }
}

@media screen and (max-height: 560px) {
  .project-container {
    margin-top: 56px;
  }
}

.project-container .project-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-left: 40px;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.project-container .project-carousel .project-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-right: 80px;
}

.project-container .project-carousel .project-item .project-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.project-container .project-carousel .project-item .project-header h2 {
  position: relative;
  margin-bottom: unset;
  font-size: 2.8vh;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
}

.project-container .project-carousel .project-item .project-header h2 svg {
  width: 15px;
  height: 100%;
  margin-left: 4px;
  opacity: .5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0;
  -webkit-transform: translate(-4px, 4px);
          transform: translate(-4px, 4px);
  -webkit-animation: arrow-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) 3.5s forwards;
          animation: arrow-anim 0.4s cubic-bezier(0.51, 0.92, 0.24, 1) 3.5s forwards;
}

.project-container .project-carousel .project-item .project-header h2 svg path {
  stroke: var(--font-colour);
  stroke-width: 0.5px;
}

.project-container .project-carousel .project-item .project-header .selected::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
}

.project-container .project-carousel .project-item .project-header span {
  font-weight: 300;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
}

@-webkit-keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow-anim {
  from {
    opacity: 0;
    -webkit-transform: translate(-4px, 4px);
            transform: translate(-4px, 4px);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.project-container .project-carousel .project-item .project-img-contain {
  position: relative;
  margin-top: 20px;
  width: 0;
  height: calc(100% - 74px);
  -webkit-animation: intro-anim 1s cubic-bezier(0.51, 0.92, 0.24, 1) 1.9s forwards;
          animation: intro-anim 1s cubic-bezier(0.51, 0.92, 0.24, 1) 1.9s forwards;
  overflow: hidden;
}

@media screen and (min-height: 640px) {
  .project-container .project-carousel .project-item .project-img-contain {
    margin-top: 32px;
  }
}

@-webkit-keyframes intro-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes intro-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.project-container .project-carousel .project-item .project-img-contain .action-preview {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-container .project-carousel .project-item .project-img-contain .action-preview.active {
  opacity: 1;
}

.project-container .project-carousel .project-item .project-img-contain .action-preview svg {
  margin-left: 8px;
}

.project-container .project-carousel .project-item .project-img-contain img {
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}

.mobile-project-container {
  position: relative;
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 16px;
  overflow: hidden;
}

@media screen and (min-width: 820px) {
  .mobile-project-container {
    display: none;
  }
}

@media screen and (min-width: 820px) {
  .mobile-project-container {
    display: none;
  }
}

.mobile-project-container .project-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.mobile-project-container .project-carousel.active {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-project-container .project-carousel .project-item {
  width: calc(100vw - 32px);
  height: 100%;
  margin-right: 40px;
}

.mobile-project-container .project-carousel .project-item .project-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.mobile-project-container .project-carousel .project-item .project-header h2 {
  position: relative;
  margin-bottom: unset;
  font-size: 22px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
}

.mobile-project-container .project-carousel .project-item .project-header h2 svg {
  width: 16px;
  height: 100%;
  margin-left: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}

.mobile-project-container .project-carousel .project-item .project-header h2 svg path {
  stroke: var(--font-colour);
  stroke-width: 0.5px;
}

.mobile-project-container .project-carousel .project-item .project-header .selected::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
}

.mobile-project-container .project-carousel .project-item .project-header span {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
}

@keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.mobile-project-container .project-carousel .project-item .project-img-contain {
  position: relative;
  margin-top: 36px;
  width: 100%;
  height: calc(100% - 48px);
}

.mobile-project-container .project-carousel .project-item .project-img-contain img {
  width: 100%;
  border-radius: 4px;
}

.mobile-project-container .project-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  border-top: 1px solid var(--line-colour);
}

@media screen and (min-width: 820px) {
  .mobile-project-container .project-nav {
    display: none;
  }
}

.mobile-project-container .project-nav .marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 31px;
  height: 18px;
}

.mobile-project-container .project-nav .marker .marker-item {
  width: 1px;
  height: 12px;
  margin-right: 6px;
  background-color: var(--font-colour);
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mobile-project-container .project-nav .marker .marker-item:nth-last-child(1) {
  margin-right: 0;
}

.mobile-project-container .project-nav .marker .marker-item.active {
  height: 18px;
  opacity: 1;
}

.mobile-project-container .project-nav .nav-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: -10px;
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow svg {
  width: 10px;
  height: 18px;
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow svg g path {
  stroke: var(--font-colour);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow:nth-child(1) {
  margin-right: 32px;
  -webkit-transform: translateY(4px) rotate(-180deg);
          transform: translateY(4px) rotate(-180deg);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow.inactive {
  pointer-events: none;
  opacity: 0.5;
}

.dark-theme {
  --primary-colour: #131313;
  --font-colour: #fff;
  --accent-colour: #adadad;
  --line-colour: #242424;
}

.light-theme {
  --primary-colour: #ccc;
  --font-colour: #131313;
  --accent-colour: #adadad;
  --line-colour: #adadad;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  outline: none;
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

body {
  overflow: hidden;
  background-color: var(--primary-colour);
  color: var(--font-colour);
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

main {
  width: 100%;
  height: calc(100vh - 160px);
}

@media screen and (min-width: 1024px) {
  main {
    height: calc(100vh - 192px);
  }
}

a {
  color: unset;
  text-decoration: unset;
}

h2 {
  margin-bottom: 40px;
  font-size: 2.6vh;
  font-weight: 300;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

p {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: none;
}

@media screen and (min-width: 1024px) {
  p {
    margin-bottom: 60px;
    line-height: 32px;
  }
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
  background-color: #131313;
  -webkit-animation: loader-anim .4s ease 1.5s forwards;
          animation: loader-anim .4s ease 1.5s forwards;
  z-index: 1000000;
}

.loader .loader-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  color: #fff !important;
}

.loader .loader-logo svg {
  height: 11px;
  margin-right: 8px;
}

.loader .loader-logo svg g path {
  fill: #fff;
}

.loader .loader-logo .loader-line {
  width: 1px;
  height: 20px;
  margin: 0 12px;
  background-color: #fff;
  opacity: 0.5;
}

.loader .loader-logo span {
  opacity: 0;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  -webkit-animation: loader-logo-anim .4s ease-out .5s forwards;
          animation: loader-logo-anim .4s ease-out .5s forwards;
  z-index: -1;
}

@-webkit-keyframes loader-anim {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader-anim {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes loader-logo-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader-logo-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cursor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  z-index: 10000;
}

@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.cursor .cursor-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cursor .cursor-inner.expand {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border-color: #fff;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;
}

@media (pointer: coarse) {
  .cursor-dot {
    display: none;
  }
}
/*# sourceMappingURL=Index.css.map */