@import url("https://use.typekit.net/rrc7gjs.css");
@import url(/Users/anthonyanimba/Documents/projects/portfolio/personal/portfolio-v5/src/styles/Layout/Layout.css);
@import url(/Users/anthonyanimba/Documents/projects/portfolio/personal/portfolio-v5/src/styles/Projects/Projects.css);
.dark-theme {
  --primary-colour: #131313;
  --font-colour: #fff;
  --accent-colour: #646464;
  --line-colour: #242424;
}

.light-theme {
  --primary-colour: #ccc;
  --font-colour: #131313;
  --accent-colour: #646464;
  --line-colour: #646464;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  outline: none;
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

html,
body {
  height: 100%;
  font-family: "Manrope", Helvetica, Arial, Sans-Serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

body {
  overflow: hidden;
  background-color: var(--primary-colour);
  color: var(--font-colour);
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

main {
  width: 100%;
  height: calc(100vh - 192px);
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
}

@media screen and (max-width: 640px) {
  main {
    height: 100vh;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

h2 {
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.8vh;
  }
}

p {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: none;
}

p:nth-last-child(1) {
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  p {
    line-height: 32px;
  }
}

img {
  border-radius: 8px !important;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
  background-color: #131313;
  -webkit-animation: loader-anim 0.4s ease 1.5s forwards;
          animation: loader-anim 0.4s ease 1.5s forwards;
  z-index: 1000000;
}

.loader .loader-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  color: #fff !important;
}

.loader .loader-logo svg {
  height: 11px;
  margin-right: 8px;
}

.loader .loader-logo svg g path {
  fill: #fff;
}

.loader .loader-logo .loader-line {
  width: 1px;
  height: 20px;
  margin: 0 12px;
  background-color: #fff;
  opacity: 0.5;
}

.loader .loader-logo span {
  opacity: 0;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  -webkit-animation: loader-logo-anim 0.4s ease-out 0.5s forwards;
          animation: loader-logo-anim 0.4s ease-out 0.5s forwards;
  z-index: -1;
}

@-webkit-keyframes loader-anim {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader-anim {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes loader-logo-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes loader-logo-anim {
  from {
    opacity: 0;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  to {
    opacity: 0.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cursor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: transparent;
  overflow: hidden;
  pointer-events: none;
  z-index: 10000;
}

@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.cursor .cursor-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cursor .cursor-inner.expand {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border-color: #fff;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  mix-blend-mode: difference;
  background-color: #fff;
  z-index: 10000;
}

@media (pointer: coarse) {
  .cursor-dot {
    display: none;
  }
}
/*# sourceMappingURL=Index.css.map */