.project-container {
  position: relative;
  display: none;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 32vh;
  margin-top: 24px;
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .project-container {
    display: block;
    top: 50%;
    height: 44vh;
  }
}

@media screen and (min-width: 768px) {
  .project-container {
    top: 50%;
    height: 44vh;
  }
}

@media screen and (min-height: 1024px) {
  .project-container {
    margin-top: 12px;
  }
}

@media screen and (max-height: 768px) {
  .project-container {
    margin-top: 32px;
  }
}

@media screen and (max-height: 560px) {
  .project-container {
    margin-top: 56px;
  }
}

.project-container .project-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-left: 40px;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.project-container .project-carousel .project-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-right: 80px;
}

.project-container .project-carousel .project-item .project-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.project-container .project-carousel .project-item .project-header h2 {
  position: relative;
  margin-bottom: unset;
  font-size: 2.6vh;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
}

.project-container .project-carousel .project-item .project-header h2 svg {
  width: 15px;
  height: 100%;
  margin-left: 4px;
  opacity: .5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-container .project-carousel .project-item .project-header h2 svg path {
  stroke: var(--font-colour);
  stroke-width: 0.5px;
}

.project-container .project-carousel .project-item .project-header .selected::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
}

.project-container .project-carousel .project-item .project-header span {
  font-weight: 300;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
}

@-webkit-keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.project-container .project-carousel .project-item .project-img-contain {
  position: relative;
  margin-top: 20px;
  width: 0;
  height: calc(100% - 74px);
  -webkit-animation: intro-anim 1.2s cubic-bezier(0.51, 0.92, 0.24, 1) 1.9s forwards;
          animation: intro-anim 1.2s cubic-bezier(0.51, 0.92, 0.24, 1) 1.9s forwards;
  overflow: hidden;
}

@media screen and (min-height: 640px) {
  .project-container .project-carousel .project-item .project-img-contain {
    margin-top: 32px;
  }
}

@-webkit-keyframes intro-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes intro-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.project-container .project-carousel .project-item .project-img-contain .action-preview {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-container .project-carousel .project-item .project-img-contain .action-preview.active {
  opacity: 1;
}

.project-container .project-carousel .project-item .project-img-contain .action-preview svg {
  margin-left: 8px;
}

.project-container .project-carousel .project-item .project-img-contain img {
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}

.mobile-project-container {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 16px;
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .mobile-project-container {
    display: none;
  }
}

.mobile-project-container .project-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  -webkit-transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: 0.6s cubic-bezier(0.51, 0.92, 0.24, 1);
}

.mobile-project-container .project-carousel.active {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-project-container .project-carousel .project-item {
  width: calc(100vw - 32px);
  height: 100%;
  margin-right: 40px;
}

.mobile-project-container .project-carousel .project-item .project-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  overflow: hidden;
}

.mobile-project-container .project-carousel .project-item .project-header h2 {
  position: relative;
  margin-bottom: unset;
  font-size: 19px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 2.7s forwards;
}

.mobile-project-container .project-carousel .project-item .project-header h2 svg {
  width: 14px;
  height: 100%;
  margin-left: 4px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 0.5;
}

.mobile-project-container .project-carousel .project-item .project-header h2 svg path {
  stroke: var(--font-colour);
  stroke-width: 0.5px;
}

.mobile-project-container .project-carousel .project-item .project-header .selected::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-colour);
}

.mobile-project-container .project-carousel .project-item .project-header span {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
          animation: title-anim 0.8s cubic-bezier(0.51, 0.92, 0.24, 1) 3s forwards;
}

@keyframes title-anim {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.mobile-project-container .project-carousel .project-item .project-img-contain {
  position: relative;
  margin-top: 36px;
  width: 100%;
  height: calc(100% - 48px);
}

.mobile-project-container .project-carousel .project-item .project-img-contain img {
  width: 100%;
  border-radius: 4px;
}

.mobile-project-container .project-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  border-top: 1px solid var(--line-colour);
}

@media screen and (min-width: 768px) {
  .mobile-project-container .project-nav {
    display: none;
  }
}

.mobile-project-container .project-nav .marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 31px;
  height: 18px;
}

.mobile-project-container .project-nav .marker .marker-item {
  width: 1px;
  height: 12px;
  margin-right: 6px;
  background-color: var(--font-colour);
  opacity: 0.5;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mobile-project-container .project-nav .marker .marker-item:nth-last-child(1) {
  margin-right: 0;
}

.mobile-project-container .project-nav .marker .marker-item.active {
  height: 18px;
  opacity: 1;
}

.mobile-project-container .project-nav .nav-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: -10px;
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 10px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow svg {
  width: 10px;
  height: 18px;
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow svg g path {
  stroke: var(--font-colour);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow:nth-child(1) {
  margin-right: 32px;
  -webkit-transform: translateY(4px) rotate(-180deg);
          transform: translateY(4px) rotate(-180deg);
}

.mobile-project-container .project-nav .nav-arrows .nav-arrow.inactive {
  pointer-events: none;
  opacity: 0.5;
}
/*# sourceMappingURL=Projects.css.map */